// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

// UI Design
@import '~mdb-ui-kit/css/mdb.min.css';

@import 'style.scss';

@font-face {
  font-family: "chancery";
  src: url("/resources/images/FO/KingthingsPetrock.ttf") format('ttf')
}
 


//-----------------------------------GENERAL

$green: #3cb149;
$greenDark: rgb(66, 145, 72);
$greenDarker: rgba(33, 126, 42, 1);
$greenBackGround: #8fd398;
$fontColor: floralwhite;
$orange: #f2793b;
$dark: #26252a;



$grey: #2E2E2E;
$grey:#fff;
$brown:#f2793b;
$dg: #B2D054;
$og: rgb(30, 124, 17) ;

.background-green
{
    background-color: $greenBackGround;
}

.background-green-darker
{
    background-color: $greenDarker;
}



//-----------------------------------FRONT-OFFICE

//---------------NAV

nav{
    box-shadow: none !important;
}

.logoFront
{
    width: 100%;
}
.logoFrontBottle
{
    width: 50%;
    top: -85px;
    // transform: rotate(90deg);
    position: absolute;
    left: 30%;
    right: 50%;
    z-index: -99999;
}

//---------------FORM PARTY

#partyForm
{
    input
    {
      background-color: $dark !important;
      color: $fontColor !important;
      border-radius: 0 !important;
      border: none !important;
      font-family: 'chancery';
    }

    #submitPartyForm
    {
      font-family: 'chancery';
    }
}

#playerSection
{
  h2
  {
    font-family: 'chancery';
    color: $fontColor;
  }

  background-color: $greenDarker;

}
.box-shadow{
  // position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  overflow: auto; 
  width: 10px;
  height: 10px;
  background: #202020;
  box-shadow:
    10px 10px  #ffffff,
    -10px 0px  #ffffff,
    10px 0px  #ffffff,
    0px 10px  #ffffff,
    0px -10px  #ffffff,
    10px -10px  #ffffff,
    -10px 10px  #ffffff,
    -10px -10px  #ffffff,
    20px 10px  #ffffff,
    20px 0px  #ffffff,
    30px 0px  #ffffff,
    -20px 10px  #ffffff,
    -20px 0px  #ffffff,
    -30px 0px  #ffffff,
    -10px 20px  #ffffff,
    10px 20px  #ffffff,
    
    -20px -10px #222222,
    -20px -20px #222222,
    -30px -20px #222222,
    -30px -10px #bb3c1a,
    
    30px -10px #222222,
    20px -20px #222222,
    30px -20px #222222,
    20px -10px #bb3c1a,
    
    40px -20px #d7d1d1,
    10px -20px #d7d1d1,
    -10px -20px #d7d1d1,
    0px -20px #d7d1d1,
    -40px 0px #d7d1d1,
    -40px -10px #d7d1d1,
    -30px 10px #d7d1d1,
    -20px 20px #d7d1d1,
    40px 0px #d7d1d1,
    40px -10px #d7d1d1,
    30px 10px #d7d1d1,
    20px 20px #d7d1d1,
    0px 20px #d7d1d1,
    
    -40px -30px #b9b0b0,
    -30px -30px #b9b0b0,
    -20px -30px #b9b0b0,
    -10px -30px #b9b0b0,
    0px -30px #b9b0b0,
    10px -30px #b9b0b0,
    20px -30px #b9b0b0,
    30px -30px #b9b0b0,
    40px -30px #b9b0b0,
    -40px -20px #b9b0b0,
    -50px -10px #b9b0b0,
    -50px 0px #b9b0b0,
    -40px 10px #b9b0b0,
    50px -10px #b9b0b0,
    50px 0px #b9b0b0,
    40px 10px #b9b0b0,
    
    -20px 40px #ffffff,
    0px 40px #ffffff,
    20px 40px #ffffff,
    
    -40px -40px #182d3c,
    -40px -50px #182d3c,
    -30px -40px #4e6271,
    -30px -50px #4e6271,
    -20px -40px #304757,
    -20px -50px #304757,
    -10px -40px #4e6271,
    -10px -50px #4e6271,
    0px -40px #304757,
    0px -50px #304757,
    10px -40px #4e6271,
    10px -50px #4e6271,
    40px -40px #182d3c,
    40px -50px #182d3c,
    30px -40px #4e6271,
    30px -50px #4e6271,
    20px -40px #304757,
    20px -50px #304757,
    50px -40px #304757,
    60px -50px #304757,
    60px -30px #304757,
    
    -30px -60px #364b5a,
    -20px -60px #1d3546,
    -10px -60px #4e6271,
    0px -60px #1d3546,
    10px -60px #4e6271,
    20px -60px #1d3546,
    30px -60px #364b5a,
    
    -20px -70px #182d3c,
    -10px -70px #364a59,
    0px -70px #182d3c,
    10px -70px #364a59,
    20px -70px #182d3c;
  animation: animate 1s linear infinite;
  }

@-webkit-keyframes animate {
0% {
  box-shadow:
    10px 10px  #ffffff,
    -10px 0px  #ffffff,
    10px 0px  #ffffff,
    0px 10px  #ffffff,
    0px -10px  #ffffff,
    10px -10px  #ffffff,
    -10px 10px  #ffffff,
    -10px -10px  #ffffff,
    20px 10px  #ffffff,
    20px 0px  #ffffff,
    30px 0px  #ffffff,
    -20px 10px  #ffffff,
    -20px 0px  #ffffff,
    -30px 0px  #ffffff,
    -10px 20px  #ffffff,
    10px 20px  #ffffff,
    
    -20px -10px #222222,
    -20px -20px #222222,
    -30px -20px #222222,
    -30px -10px #bb3c1a,
    
    30px -10px #222222,
    20px -20px #222222,
    30px -20px #222222,
    20px -10px #bb3c1a,
    
    40px -20px #d7d1d1,
    10px -20px #d7d1d1,
    -10px -20px #d7d1d1,
    0px -20px #d7d1d1,
    -40px 0px #d7d1d1,
    -40px -10px #d7d1d1,
    -30px 10px #d7d1d1,
    -20px 20px #d7d1d1,
    40px 0px #d7d1d1,
    40px -10px #d7d1d1,
    30px 10px #d7d1d1,
    20px 20px #d7d1d1,
    0px 20px #d7d1d1,
    
    -40px -30px #b9b0b0,
    -30px -30px #b9b0b0,
    -20px -30px #b9b0b0,
    -10px -30px #b9b0b0,
    0px -30px #b9b0b0,
    10px -30px #b9b0b0,
    20px -30px #b9b0b0,
    30px -30px #b9b0b0,
    40px -30px #b9b0b0,
    -40px -20px #b9b0b0,
    -50px -10px #b9b0b0,
    -50px 0px #b9b0b0,
    -40px 10px #b9b0b0,
    50px -10px #b9b0b0,
    50px 0px #b9b0b0,
    40px 10px #b9b0b0,
    
    -20px 40px #ffffff,
    0px 40px #ffffff,
    20px 40px #ffffff,
    
    -40px -40px #182d3c,
    -40px -50px #182d3c,
    -30px -40px #4e6271,
    -30px -50px #4e6271,
    -20px -40px #304757,
    -20px -50px #304757,
    -10px -40px #4e6271,
    -10px -50px #4e6271,
    0px -40px #304757,
    0px -50px #304757,
    10px -40px #4e6271,
    10px -50px #4e6271,
    40px -40px #182d3c,
    40px -50px #182d3c,
    30px -40px #4e6271,
    30px -50px #4e6271,
    20px -40px #304757,
    20px -50px #304757,
    50px -40px #304757,
    60px -50px #304757,
    60px -30px #304757,
    
    -30px -60px #364b5a,
    -20px -60px #1d3546,
    -10px -60px #4e6271,
    0px -60px #1d3546,
    10px -60px #4e6271,
    20px -60px #1d3546,
    30px -60px #364b5a,
    
    -20px -70px #182d3c,
    -10px -70px #364a59,
    0px -70px #182d3c,
    10px -70px #364a59,
    20px -70px #182d3c;
  }
50% {
  box-shadow:
    10px 10px  #ffffff,
    -10px 0px  #ffffff,
    10px 0px  #ffffff,
    0px 10px  #ffffff,
    0px -10px  #ffffff,
    10px -10px  #ffffff,
    -10px 10px  #ffffff,
    -10px -10px  #ffffff,
    20px 10px  #ffffff,
    20px 0px  #ffffff,
    30px 0px  #ffffff,
    -20px 10px  #ffffff,
    -20px 0px  #ffffff,
    -30px 0px  #ffffff,
    -10px 20px  #ffffff,
    10px 20px  #ffffff,
    
    -20px -10px #222222,
    -20px -20px #222222,
    -30px -20px #222222,
    -30px -10px #ed4e23,
    
    30px -10px #222222,
    20px -20px #222222,
    30px -20px #222222,
    20px -10px #ed4e23,
    
    40px -20px #d7d1d1,
    10px -20px #d7d1d1,
    -10px -20px #d7d1d1,
    0px -20px #d7d1d1,
    -40px 0px #d7d1d1,
    -40px -10px #d7d1d1,
    -30px 10px #d7d1d1,
    -20px 20px #d7d1d1,
    40px 0px #d7d1d1,
    40px -10px #d7d1d1,
    30px 10px #d7d1d1,
    20px 20px #d7d1d1,
    0px 20px #d7d1d1,
    
    -40px -30px #b9b0b0,
    -30px -30px #b9b0b0,
    -20px -30px #b9b0b0,
    -10px -30px #b9b0b0,
    0px -30px #b9b0b0,
    10px -30px #b9b0b0,
    20px -30px #b9b0b0,
    30px -30px #b9b0b0,
    40px -30px #b9b0b0,
    -40px -20px #b9b0b0,
    -50px -10px #b9b0b0,
    -50px 0px #b9b0b0,
    -40px 10px #b9b0b0,
    50px -10px #b9b0b0,
    50px 0px #b9b0b0,
    40px 10px #b9b0b0,
    
    -20px 40px #ffffff,
    0px 40px #ffffff,
    20px 40px #ffffff,
    
    -40px -40px #182d3c,
    -40px -50px #182d3c,
    -30px -40px #4e6271,
    -30px -50px #4e6271,
    -20px -40px #304757,
    -20px -50px #304757,
    -10px -40px #4e6271,
    -10px -50px #4e6271,
    0px -40px #304757,
    0px -50px #304757,
    10px -40px #4e6271,
    10px -50px #4e6271,
    40px -40px #182d3c,
    40px -50px #182d3c,
    30px -40px #4e6271,
    30px -50px #4e6271,
    20px -40px #304757,
    20px -50px #304757,
    50px -40px #304757,
    60px -40px #304757,
    60px -40px #304757,
    
    -30px -60px #364b5a,
    -20px -60px #1d3546,
    -10px -60px #4e6271,
    0px -60px #1d3546,
    10px -60px #4e6271,
    20px -60px #1d3546,
    30px -60px #364b5a,
    
    -20px -70px #182d3c,
    -10px -70px #364a59,
    0px -70px #182d3c,
    10px -70px #364a59,
    20px -70px #182d3c;
  }
100% {
  box-shadow:
    10px 10px  #ffffff,
    -10px 0px  #ffffff,
    10px 0px  #ffffff,
    0px 10px  #ffffff,
    0px -10px  #ffffff,
    10px -10px  #ffffff,
    -10px 10px  #ffffff,
    -10px -10px  #ffffff,
    20px 10px  #ffffff,
    20px 0px  #ffffff,
    30px 0px  #ffffff,
    -20px 10px  #ffffff,
    -20px 0px  #ffffff,
    -30px 0px  #ffffff,
    -10px 20px  #ffffff,
    10px 20px  #ffffff,
    
    -20px -10px #222222,
    -20px -20px #222222,
    -30px -20px #222222,
    -30px -10px #bb3c1a,
    
    30px -10px #222222,
    20px -20px #222222,
    30px -20px #222222,
    20px -10px #bb3c1a,
    
    40px -20px #d7d1d1,
    10px -20px #d7d1d1,
    -10px -20px #d7d1d1,
    0px -20px #d7d1d1,
    -40px 0px #d7d1d1,
    -40px -10px #d7d1d1,
    -30px 10px #d7d1d1,
    -20px 20px #d7d1d1,
    40px 0px #d7d1d1,
    40px -10px #d7d1d1,
    30px 10px #d7d1d1,
    20px 20px #d7d1d1,
    0px 20px #d7d1d1,
    
    -40px -30px #b9b0b0,
    -30px -30px #b9b0b0,
    -20px -30px #b9b0b0,
    -10px -30px #b9b0b0,
    0px -30px #b9b0b0,
    10px -30px #b9b0b0,
    20px -30px #b9b0b0,
    30px -30px #b9b0b0,
    40px -30px #b9b0b0,
    -40px -20px #b9b0b0,
    -50px -10px #b9b0b0,
    -50px 0px #b9b0b0,
    -40px 10px #b9b0b0,
    50px -10px #b9b0b0,
    50px 0px #b9b0b0,
    40px 10px #b9b0b0,
    
    -20px 40px #ffffff,
    0px 40px #ffffff,
    20px 40px #ffffff,
    
    -40px -40px #182d3c,
    -40px -50px #182d3c,
    -30px -40px #4e6271,
    -30px -50px #4e6271,
    -20px -40px #304757,
    -20px -50px #304757,
    -10px -40px #4e6271,
    -10px -50px #4e6271,
    0px -40px #304757,
    0px -50px #304757,
    10px -40px #4e6271,
    10px -50px #4e6271,
    40px -40px #182d3c,
    40px -50px #182d3c,
    30px -40px #4e6271,
    30px -50px #4e6271,
    20px -40px #304757,
    20px -50px #304757,
    50px -40px #304757,
    60px -50px #304757,
    60px -30px #304757,
    
    -30px -60px #364b5a,
    -20px -60px #1d3546,
    -10px -60px #4e6271,
    0px -60px #1d3546,
    10px -60px #4e6271,
    20px -60px #1d3546,
    30px -60px #364b5a,
    
    -20px -70px #182d3c,
    -10px -70px #364a59,
    0px -70px #182d3c,
    10px -70px #364a59,
    20px -70px #182d3c;
  }
} 

#partyTitle
{
  font-family: 'chancery';
  font-size: 5em;
}

.playerList
{
  list-style: none;
  font-family: 'chancery';
  color: $fontColor;
}

#playerIcon
{
  width: 40px;
}

//---------------CONNEXION  
.connexionModal
{
    background-color: $green;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    font-family: 'chancery';
}

.btn
{
  background-color: $dark !important;
  color: $fontColor !important;
  border-radius: 0 !important;
  font-family: 'chancery';

}

.btn:hover{
  background-color: $orange !important;
  color: $fontColor !important;
}

.form-group
{
    input{
      background-color: $dark !important;
      color: $fontColor !important;
      border-radius: 0 !important;
      border: none !important;
    }

    input::placeholder, label {
        color: $fontColor !important;
    }
      
}

.createUser:hover
{
    cursor: pointer;
}

.iconConnexion
{
    width: 50px;
}

//---------------HOME

.buttonHome
{
    // background-color: $dark !important;
    background-image: url('/resources/images/FO/bottle.png');
    color: $fontColor !important;
    border-radius: 0 !important;
    font-family: 'chancery';
}

.buttonHome:hover{
  background-color: $orange !important;
  color: $fontColor !important;
}

// #root {
//   height: 100%;
//   display: flex;
//   position: absolute;
//   margin-left: auto;
//   justify-content: center;
//   align-items: center;
//   overflow: hidden;
// }

svg{
  // position: absolute;
  width: 100vh;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top:35vh;
  left: 0;
  right: 0;
  text-align: center;
}



#homeTitleAnimation
{
    h2 {
        position: absolute;
        top: -50px;
        font-family: 'chancery' !important;
    
        font-size:2em;
        transform: rotate(-8deg);
        -webkit-transform: rotate(-8deg);
        text-align:center;
        text-shadow: -2px -2px 0 $grey, 
        2px -2px 0 $grey, 
        -2px  2px 0 $grey, 
        2px 2px 0 $grey, 
        6px 6px 0 $og, 
        10px 10px 0 $dg, 
        14px 14px 0 $brown, 
        18px 18px 0 $og, 
        22px 22px 0 $dg;
      
      animation: tripy .33s infinite;
      -webkit-animation: tripy .33s infinite;
      &:after {
        content:"Mille millions de mille pintes !";
      }
    
      &:hover:after {
        content:"En avant pirate !";  
      }
      
      &:hover {
        text-shadow:none;
        -webkit-animation:none;
        color:$og;
        
      }
    }
    @keyframes tripy {
      
      0% {
        color: $brown;
        
        text-shadow: -2px -2px 0 $grey, 
          2px -2px 0 $grey, 
          -2px  2px 0 $grey, 
          2px 2px 0 $grey, 
          6px 6px 0 $og, 
          10px 10px 0 $dg, 
          14px 14px 0 $brown, 
          18px 18px 0 $og, 
          22px 22px 0 $dg;
      }
    
      33% {
        color: $og;
      
        text-shadow: -2px -2px 0 $grey, 
          2px -2px 0 $grey, 
          -2px  2px 0 $grey, 
          2px 2px 0 $grey, 
          6px 6px 0 $dg, 
          10px 10px 0 $brown, 
          14px 14px 0 $og, 
          18px 18px 0 $dg, 
          22px 22px 0 $brown;
      }
    
      66% {
        color: $dg;
      
        text-shadow: -2px -2px 0 $grey, 
          2px -2px 0 $grey, 
          -2px  2px 0 $grey, 
          2px 2px 0 $grey, 
          6px 6px 0 $brown, 
          10px 10px 0 $og, 
          14px 14px 0 $dg, 
          18px 18px 0 $brown, 
          22px 22px 0 $og;
      }
    
      100% {
        color: $brown;
      
        text-shadow: -2px -2px 0 $grey, 
          2px -2px 0 $grey, 
          -2px  2px 0 $grey, 
          2px 2px 0 $grey, 
          6px 6px 0 $og, 
          10px 10px 0 $dg, 
          14px 14px 0 $brown, 
          18px 18px 0 $og, 
          22px 22px 0 $dg;
      }
    
    }
    
    @-webkit-keyframes tripy {
      
      0% {
        color: $brown;
        
        text-shadow: -2px -2px 0 $grey, 
          2px -2px 0 $grey, 
          -2px  2px 0 $grey, 
          2px 2px 0 $grey, 
          6px 6px 0 $og, 
          10px 10px 0 $dg, 
          14px 14px 0 $brown, 
          18px 18px 0 $og, 
          22px 22px 0 $dg;
      }
    
      33% {
        color: $og;
      
        text-shadow: -2px -2px 0 $grey, 
          2px -2px 0 $grey, 
          -2px  2px 0 $grey, 
          2px 2px 0 $grey, 
          6px 6px 0 $dg, 
          10px 10px 0 $brown, 
          14px 14px 0 $og, 
          18px 18px 0 $dg, 
          22px 22px 0 $brown;
      }
    
      66% {
        color: $dg;
      
        text-shadow: -2px -2px 0 $grey, 
          2px -2px 0 $grey, 
          -2px  2px 0 $grey, 
          2px 2px 0 $grey, 
          6px 6px 0 $brown, 
          10px 10px 0 $og, 
          14px 14px 0 $dg, 
          18px 18px 0 $brown, 
          22px 22px 0 $og;
      }
    
      100% {
        color: $brown;
      
        text-shadow: -2px -2px 0 $grey, 
          2px -2px 0 $grey, 
          -2px  2px 0 $grey, 
          2px 2px 0 $grey, 
          6px 6px 0 $og, 
          10px 10px 0 $dg, 
          14px 14px 0 $brown, 
          18px 18px 0 $og;
    
      }
    
    }
    html {
      font-family: 'Creepster', cursive;
     background:$dg; 
    }
    
    p {
       text-align:center; 
    }
    
    a {
      color:$og;
      text-shadow: -2px -2px 0 $grey, 
        2px -2px 0 $grey, 
        -2px  2px 0 $grey, 
        2px 2px 0 $grey, 
        6px 6px 0 $og, 
        10px 10px 0 $dg, 
        14px 14px 0 $brown, 
        18px 18px 0 $og, 
        22px 22px 0 $dg;
      
       animation: tripy .33s infinite;
      -webkit-animation: tripy .33s infinite;
      
      &:hover {
        -webkit-animation:none;
        text-shadow: none;
        text-decoration:none;
        
      }
    }
}